/* In this file you can overwrite/extend the given magpie-styles or declare your own ones */

/* Example of extending a given magpie-style */

/*.magpie-view-stimulus-container {
    height: auto;
    max-height: 350px;
} */

/* Display all titles in red */
/*.magpie-view-title {
    color: red;
}*/

/* Example of declaring your own style */
.custom-border {
   border: 1px solid powderblue;
}

/* get rid of picture space in slider rating */
.magpie-view-stimulus-container {
    display: flex;
    height: auto; /*before it was hardcoded 350px;*/
    margin: 0 auto;
    width: auto;
}

#prompt {
  background: lightblue;
  background-clip: content-box;
}

#critical-utterance {
  background: pink;
  background-clip: content-box;
}
